h1 Если вы уже зарегистрированы
h3 Перейдите на свой подсайт <b>[субдомен_вашей_компании].workplay.in</b>
p Субдомен компании вы должны были указать при регистрации, а информацию о том, на каком субдомене зарегистрирована ваша компания, вы должны получить по email администратора подсайта вашей компании.
p На подсайте компании вам откроется форма авторизации. В первую очередь открывается форма авторизации для сотрудников. Если вы собираетесь войти в качестве администратора, то щёлкните по ссылке <b>"Я администратор"</b>, которая располагается ниже формы. Удачной работы с сайтом!

.alert.alert-warning[role="alert"]
    = fa_icon "exclamation-triangle 4x", class: "pull-left"
    h4 Обращаем ваше внимание на то, что из-за технических ограничений нашего сервера регистрация субдомена займёт некоторое время. Поэтому если вы только что прошли регистрацию компании и по адресу подсайта вашей компании ничего не загружается &ndash; не беспокойтесь, наберитесь терпения, через пару минут всё заработает и больше никогда не перестанет!

= image_tag("landing/STUDY_AREA.gif", class: "img-responsive")