h1 Если вы уже зарегистрированы
h3 Перейдите на свой подсайт <b>[субдомен_вашей_компании].workplay.in</b> 
p Субдомен компании вы должны были указать при регистрации, а информацию о том, на каком субдомене зарегистрирована ваша компания, вы должны получить по email администратора подсайта вашей компании.
p На подсайте компании вам откроется форма авторизации. В первую очередь открывается форма авторизации для сотрудников. Если вы собираетесь войти в качестве администратора, то щёлкните по ссылке <b>"Я администратор"</b>, которая располагается ниже формы. Удачной работы с сайтом!

= image_tag("landing/STUDY_AREA.gif")