h2 Приветствуем компанию #{@company.name} на сайте workplay.in!
h3 Ваш подсайт находится по адресу <a href="http://#{@company.subdomain}.workplay.in">#{@company.subdomain}.workplay.in</a>

p Логин администратора: <b>#{@admin.email}</b>
p Пароль администратора: <b>был указан при регистрации компании</b>

p Перейдите на подсайт вашей компании и войдите как администратор, чтобы приступить к использованию WORK & PLAY. Возможно, подсайт компании пока что неработоспособен, регистрация подсайта занимает некоторое время из-за технических ограничений нашего сервера. Максимум через пару часов всё должно быть в порядке. <b>Удачной игры и работы!</b>